<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="dbconnect" connectionString="Data Source=net.eeecs.qub.ac.uk; Persist Security Info=True; User ID=etroyo01; Initial Catalog=etroyo01;
          Password=x56y050kwm6bsmh4"
providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode ="Off" />
  </system.web>

</configuration>
